/*:root{
  --complete-color:rgb(46, 84, 155);
  --total-color:rgb(125, 185, 14);
  --font-color: white;
}*/

/*.container{
  display: flex;
  border: 2px solid;
  width:100px;
  height: 30px;
  border-radius:5px;
  font-family: sans-serif;
}*/
.complete, .total{
  height: 30px;
  width:40%;
  text-align: center;
  align-self: center;
}
.complete span, .total span{
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}
.complete{
  background-color:var(--complete-color);
  color:var(--font-color);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.total{
  color:var(--font-color);
  background-color:var(--total-color);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.divider{
  width:20%;
}

.complete, .total {
  position: relative;
  float: left;
}

.divider:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 29px solid var(--complete-color);
    border-bottom: 0px solid transparent;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
}

.divider:before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-bottom: 28px solid var(--total-color);
    border-left: 20px solid transparent;
    border-right: 0px solid var(--total-color);
    position: absolute;
}